html,body,section{
    height: 100%;
    overflow: hidden;
}

.layout{
    margin: 0 auto;
    width: 600px;
}

@media (min-width: 700px){
    .layout{
        width: 600px;
    }
}

@media (min-width: 900px){
    .layout{
        width: 800px;
    }
}
@media (min-width: 1000px){
    .layout{
        width: 900px;
    }
}  
@media (min-width: 1200px){
    .layout{
        width: 1100px;
    }
}

#page-over{
    display: none;
}

.background{
    position: absolute;
    z-index: -1;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    background: linear-gradient(#FC354C,#0ABFBC);
    background-size: cover;
    filter: blur(4px);
}
/* 加遮罩 */
.background::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}
main{
    padding-top: 12vh;
    height: calc(100% - 24vh);
    /* 1vh = 1% * height,减号中间的空格*/
}
main::after{
    content: "";
    display: block;
    clear: both;
}
main .aside{
    float: left;
}

main .aside > figure{
    width: 46vh;
    height: 46vh;
    background-image: url('./src/Neuschwanstein.jpg');
    background-size: cover;
    border-radius: 50%;
    border: #fff 0.5px solid;
    /* animation: rotate infinite linear 30s; */
    animation-play-state: paused;
    animation-fill-mode: backwards;
    box-shadow:  1px 1px 3px #ccc;
}
main .aside > figure.play{
    animation: rotate infinite linear 30s;
}

main .aside > figure.restart{
    animation: rotatereset infinite linear 30s;
}

@keyframes rotate{
    from{
        transform: rotate(-360deg)
    }
}
@keyframes rotatereset{
    from{
        transform: rotate(-360deg)
    }
}
main .aside .actions{
    display: flex;
    margin-top: 4vh;
}

main .aside .fas{
    flex:1;
    text-align: center;
    font-size: 5vh;
    color: rgba(255,255,255,0.4);
    transition: color .4s;
    /* 渐变 */
    cursor: pointer;
}

main .aside .fas:hover{
    color: #fff;
}

main .detail{
    margin-left: 56vh;
    color: #fff;
}
main .detail .tag{
    font-size: 2vh;
    padding: .4em .8em;
    background: #2e6eec;
    border-radius: 0.3em;
}

main .detail h1{
    font-size: 6vh;
    margin-top: 2vh;
}
main .icons{
    display: flex;
    font-size: 3vh;
    margin-top: 12vh;
}
main .icons li{
    flex: 1;
}

main .icons .fas{
    font-size: 3vh;
    margin-right: 1vh;
}

main .area-bar{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}
main .vol{
    margin-top: 5vh;
    display: flex;
    align-items: center;
    font-size: 3vh;
}
main .vol .fas{
    margin-right: 2vh
}
main .vol .volumebar{
    display: none;
}
main .vol .volDisplay{
    display: inline-block;
}


main .vol input[type=range]{ 
    outline: none; 
    -webkit-appearance: none;/*清除系统默认样式*/  
    width:12vh;  
    background: #ddd;    
    height: 0.5vh;/*横条的高度*/  
} 
/*拖动块的样式*/  
main .vol input[type=range]::-webkit-slider-thumb {  
    -webkit-appearance: none;/*清除系统默认样式*/  
    height:1vh;/*拖动块高度*/  
    width: 1vh;/*拖动块宽度*/  
    background: #fff;/*拖动块背景*/  
    border-radius: 50%; /*外观设置为圆形*/  
    border: solid 1vh #FC354C; /*设置边框*/  
}

main .area-bar .bar{
    position: relative;
    flex: 1;
    height: .8vh;
    border-radius: .2vh;
    background: rgba(255,255,255,0.4);
    width: 100%;
}

main .area-bar .current-time{
    width: 3vh;
    font-size: 2vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

main .area-bar .total-time{
    width: 3vh;
    font-size: 2vh;
}

main .area-bar .bar-progress{
    position: absolute; 
    height: .8vh;
    width: 10%;
    background-color: #fff;
    border-radius: .2vh;
    transition: width .8s;
    cursor: pointer;
}
main .author{
    font-size: 3vh;
    margin-top: 3vh;
}

main .lyric{
    font-size: 2vh;
    margin-top: 2vh;
    color: rgba(255,255,255,0.4)
}
footer{
    height: 24vh;
    color: #fff;
    background:rgba(255,255,255,0.2);
    /* box-shadow:   */
}

footer .box ul li .cover{
    height: 16vh;
    background-size: cover;
    background-position: center center; 
}
 footer .box{
    position: relative;
    overflow: hidden;
    height: 24vh;
    /* 绝对定位要撑开 */
 }
 footer ul{
    position: absolute;
    left: 0; 
    z-index: 2;;
 }

footer ul::after{
    content: '';
    display: block;
    clear: both;
}

footer li{
    float: left;
    margin-top: 1vh;
    margin: 2vh 2vh 0 2vh;
    width: 20vh;
    height: 20vh;
    text-align: center;
    cursor: pointer;
}

footer li:hover{
    box-shadow: 0 0 .5vh .5vh rgba(255,255,255,0.2);
}

footer h3{
    font-size: 2vh;
    color: rgba(255,255,255,0.6);
    margin-top: 1vh;
}

footer .layout{
    position: relative;
}

footer .fas{
    position: absolute;
    top: 4vh;
    font-size: 6vh;
    color: rgba(255,255,255,0.4);
    opacity: 0;
    transition: all ,4s;
    cursor: pointer;
}

footer:hover .fas{
    opacity: 1;
}

footer .fas:hover{
    color: rgba(255,255,255,0.8)
}

footer .fa-chevron-left{
    left: -8vh;
}
footer .fa-chevron-right{
    right: -8vh;
}
.boomText {
  display: inline-block;
  opacity: 0;
}